@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
    padding-bottom: 80px;
}
.title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
}
h1{
    margin: 0 0 0 0;
}
.pb{
    color: #FF3232;
}
.container {
    display: flex;
    margin-top: 64px;
}
.badge {
    width: 310px;
    background-color: #017239;
    color: white;
    padding: 18px 18px 0 18px;
    margin-right: 67px;
    margin-left: 57px;
    box-sizing: border-box;
}
.photo {
    width: 100%;
    margin-bottom: 48px;
    border: 0.5px solid rgb(212, 2, 2);
}
.birth {
    text-align: center;
    margin-bottom: 40px;
}
.content {
    width: 467px;
    margin-top: 0;
}
ul {
    -webkit-padding-start: 17px;
    line-height: 145%;
    margin: 0 0 0 0;
}
.text {
    margin-bottom: 0;
}
h2 {
    margin-top: 35px;
    margin-bottom: 7px;
    font-size: 24px;
    letter-spacing: 3px;

}
.social-link {
    margin-right: 7.88px;
}
.social-link:hover {
position: relative;
bottom: 5px;
}
.socials {
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
}

.gallery {
    display: flex;
    margin: 87px 57px 59px 57px;
}
.gallery-item {
    width: 206px;
    margin-right: 10px;
    position: relative;
    height: 206px;
}
.gallery-label {
    display: none;
    background-color: #1A142D;
    color: white;
    margin: 0;
    padding: 5px 12px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
.gallery-item:hover .gallery-label{
    display: block;
}
